<style>

	.custom {
		float: left;
		text-align: center;
		width: 100%;
		padding-top: 12px;
	}

	.custombottom {
		float: none;
		font-size: 20px;
		padding-top: 8px;
	}



</style>

<div class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<div class="navbar-header custom">
			<a class="navbar-brand custombottom" href="#">Disclaimer</a>
			<a class="navbar-brand custombottom" href="#">Contact Us</a>
			<a class="navbar-brand custombottom" href="#">FAQ</a>
		</div>
	</div>
</div>
