@model TheStrengthForge.Models.LoginModel


@*
	Trevor Moore
	5/3/2018
*@

@{
	ViewBag.Title = "The Strength Forge";
	Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>


<div class="form-horizontal">

	<br />
	<br />

	<div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.ValidationMessageFor(model => model.SearchCriteria, "", new { @class = "text-danger", @style = "color:red" })
	</div>

</div>


